@font-face {
  font-family: "MaruBuri";
  font-weight: 700;
  src: url("/blog/fonts/MaruBuri-Bold.otf");
}
@font-face {
  font-family: "MaruBuri";
  font-weight: 600;
  src: url("/blog/fonts/MaruBuri-SemiBold.otf");
}
@font-face {
  font-family: "MaruBuri";
  font-weight: 500;
  src: url("/blog/fonts/MaruBuri-Regular.otf");
}
@font-face {
  font-family: "MaruBuri";
  font-weight: normal;
  src: url("/blog/fonts/MaruBuri-Regular.otf");
}
@font-face {
  font-family: "MaruBuri";
  font-weight: 400;
  src: url("/blog/fonts/MaruBuri-Light.otf");
}
@font-face {
  font-family: "MaruBuri";
  font-weight: 300;
  src: url("/blog/fonts/MaruBuri-ExtraLight.otf");
}
